<article>
  <section id="main1">

<p>Mole Valley is home to a wide range of bird species, many of which favour particular habitats. Some of these are highlighted below:</p>
    <h4>RIVER MOLE</h4>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/Kingfisher%20with%20fish-ccb76e4f69f65e571903942d38588145.jpg", :width => 200, :height => 250, :crop => :fill) %>
    <p>
      Kingfishers can be seen along the length of the river - a flash of blue and orange flying swiftly past. Grey wagtails are also common often seen around the Leatherhead Town Bridge and in Winter goosanders can be seen swimming along the river.
    </p>
    <h4>PONDS AND STREAMS</h4>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/Grey_Wagtail-18fb1413139e5ea1d0179d2920b8622f.jpg", :width => 200, :height => 200, :crop => :fill) %>
    <p>
      Many common birds can be seen on our ponds and streams including mallards, coots, moorhens, Canada geese, greylag geese and grey wagtails.
    </p>
    <h4>FARMLAND</h4>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/red%20legged%20partridge-70697133bd254395222b5f5ba73f054d.jpg", :width => 200, :height => 150, :crop => :fill) %>
    <p>
      There is a range of birds found in our farmland habitat including game birds such as pheasants and red-legged partridge. In the hedgerows you can see yellowhammers and finches; in the Winer the song and mistle thrushes are joined by redwings and fieldfares from Scandinavia.
    </p>
    <h4> WOODLAND</h4>
     <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/lesser%20redpoll-28366427b30cb47208cafd0d0be6a74f.jpg", :width => 200, :height => 150, :crop => :fill) %>
    <p>
      Our woodland areas host a wide variety of birds including 5 species of tit (blue, great, coal, long-tailed and marsh), great spotted woodpeckers, redpolls and siskins.
    </p>
    <h4>URBAN PARKS, GREEN SPACES AND GARDENS</h4>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/House-Martin-eac206369b63e8e4ac4130ffbbad3e57.jpg", :width => 200, :height => 125, :crop => :fill) %>
    <p>
      Another rich environment for several species of birds which include: green woodpeckers, rbins, blackbirds, tits, pied wagtails and many more.
    </p>
    <h4>COMMONS AND HEATHS</h4>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/Nightingale-c0a9386de48aeb69f647dd9cbf347df9.jpg", :width => 200, :height => 125, :crop => :fill) %>
    <p>
      Our commons and heathlands are home all year round to birds such as finches and tits. Rarer summer migrants include woodlarks (Headley Heath), nightingales and warblers (Bookham Common). Arguably the most important bird site in Mole Valley is Bookham Common for the nightingales.
    </p>
  </section>
</article>