<article>
  <section id="main1">
<h2>MOLE VALLEY FUNGI</h2>
<p>The good, the bad and the beautiful! Here are five examples of fungi that are typical of habitats in Mole Valley. They have been selected to provide a variety of forms, and times of occurrence. (Text and photographs by Ray Tantram &copy; 9th. March 2005)</p>
    </section>
  <section id="main1">
    <h3>PENNY BUN BOLETUS　EDULIS</h3>  
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/fungi/Bole_edul002-7921209076aeb082f3c4c00f86970d11.jpg", :width => 200, :height => 200, :crop => :fill) %>
    <p>
      A prized edible species, found in broadleaved and mixed woodland. Forms (mycorrhizal) association with the tree roots. One of the sponge caps with pores in place of gills on its lower surface.
    </p>
  </section>
  <section id="main3">
    <h3>DEATH CAP AMANITA PHALLOIDES</h3>
     <%= image_tag("http://molevalleynh.herokuapp.com/assets/fungi/Death-Cap-c886be25d4bd51480d19a6c30b6b8490.jpg", :width => 200, :height => 150, :crop => :fill) %>
    <p>
      Highly toxic, a quarter of a cap kills very unpleasantly - but not slugs! Most of the Amanita family are poisonous. Learn to recognise these fungi if you collect for the table. Found under oak, with which it forms a (mycorrhizal) association.
    </p>
  </section>
  <section id="main3">
    <h3>SUPHUR POLYPORE; CHICKEN OF THE WOODS LAETIPORUS SULPHUREUS</h3>
     <%= image_tag("http://molevalleynh.herokuapp.com/assets/fungi/Laetip_012-56faea33491fcb204f552adeeb304530.jpg", :width => 225, :height => 150, :crop => :fill) %>
    <p>
      Brilliant yellow, with salmon-orange tones. Grows on trunks of living trees, mainly oak and chestnut, and also even on Yew*, causing hert rots. Edible, and prized in USA, but can cause gastro-intestinal upsets.
      <br>
      [* do not eat any picked from this toxic tree! ]
    </p>
  </section>
  <section id="main3">
  <h3>SCARLET ELFCUP SARCOSYPHA AUSTRIACA</h3>
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/fungi/ElfcapAsh02-35521320f0a6e1f5b4d20eff1dfa6703.jpg", :width => 225, :height => 150, :crop => :fill) %>
    <p>
      This bright cup fungus (ascomycete) is occasionally found in Mole valley, very early in the year, growing on old mossy fallen trunks in woodland, especially on hazel and elm. The cups are 1-5 cm. across.
    </p>
  </section>
  <section id="main3">
  <h3>THIMBLE MOREL VERPA CONICA</h3>
     <%= image_tag("http://molevalleynh.herokuapp.com/assets/fungi/Verpcon04-b20fe4f2addf6099c2de138f45484da1.jpg", :width => 225, :height => 175, :crop => :fill) %>
    <p>
      Quite rare and confined to hawthorn scrub on chalk. There is much of this in Mole Valey, and 2004 was a good year for this small and elusive  spring species. An ascomycete with a hollow stem.
    </p>
  </section>
</article>