<nav id="main_nav" role="navigation" >
  <ul>
    <li><%=link_to "Home", root_path %></li>
    <li><%=link_to "Resources", resource_path %></li>
     <li><%=link_to "Organisations", organisation_path %></li>
    <li><%=link_to "What is here?", here_path %></li>
    <li><%=link_to "Events", event_path %></li>
     <li><%=link_to "Contact", contact_path %></li>
  </ul>
</nav>